<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.elook.product.dao.ProductDao">

    <select id="getMall" resultType="cn.elook.common.entity.Product">
        SELECT * FROM product limit 10
    </select>

    <select id="getProductById" resultType="cn.elook.common.entity.Product">
        SELECT * FROM product WHERE pid = #{pid}
    </select>

    <select id="getProductByCondition" resultType="cn.elook.common.entity.Product">
        SELECT * FROM product
        <where>
            <if test="productKey != null and productKey != ''">
                AND (product_name LIKE "%"#{productKey}"%"
                OR product_des LIKE "%"#{productKey}"%")
            </if>
            <if test="pcid != null and pcid != 0">
                AND pcid = #{pcid}
            </if>
        </where>
    </select>

    <insert id="addProduct" parameterType="cn.elook.common.entity.Product" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO product(product_name,product_des,product_price,pcid,if_sold,uid)
        VALUES (#{productName},#{productDes},#{productPrice},#{pcid},#{ifSold},#{uid});
    </insert>

    <update id="rackProduct" useGeneratedKeys="true" keyProperty="id">
        UPDATE product SET if_sold = 2 WHERE pid = #{pid}
    </update>

    <insert id="addProductPhoto" parameterType="cn.elook.common.entity.ProductPhoto" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO product_photo(pid,product_src)
        VALUES (#{pid},#{productSrc});
    </insert>

    <select id="getProductPhotoByPid" resultType="cn.elook.common.entity.ProductPhoto">
        SELECT * FROM product_photo WHERE pid = #{pid}
    </select>

    <insert id="addProductDiscuss" parameterType="cn.elook.common.entity.ProductDiscuss" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO product_discuss(pid,pd_discuss,pd_create_time,uid)
        VALUES (#{pid},#{pdDiscuss},#{pdCreateTime},#{uid});
    </insert>

    <delete id="deleteProductDiscuss" parameterType="Long">
        DELETE FROM product_discuss WHERE pdid = #{pdid}
    </delete>

    <select id="getProductDiscussByPid" resultType="cn.elook.common.entity.ProductDiscuss">
        SELECT * FROM product_discuss WHERE pid = #{pid}
    </select>

    <select id="getProductCategoryById" resultType="cn.elook.common.entity.ProductCategory">
        SELECT * FROM product_category WHERE pcid = #{pcid}
    </select>

    <select id="getProductCategoryByParentId" resultType="cn.elook.common.entity.ProductCategory">
        SELECT * FROM product_category WHERE parent_id = #{parentId}
    </select>
</mapper>