<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.elook.product.dao.ProductDao">

    <select id="getProductById" resultType="cn.elook.common.entity.Product">
        SELECT * FROM product WHERE pid = #{pid}
    </select>

    <select id="getProductByCondition" resultType="cn.elook.common.entity.Product">
        SELECT * FROM product
        <where>
            <if test="productKey != null and productKey != ''">
                AND (product_name LIKE "%"#{productKey}"%"
                OR product_des LIKE "%"#{productKey}"%")
            </if>
            <if test="pcid != null and pcid != 0">
                AND pcid = #{pcid}
            </if>
        </where>
    </select>

    <insert id="addProduct" parameterType="cn.elook.common.entity.Product" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO product(product_name,product_des,product_price,pcid,if_sold,uid)
        VALUES (#{productName},#{productDes},#{productPrice},#{pcid},#{ifSold},#{uid});
    </insert>

    <update id="rackProduct" useGeneratedKeys="true" keyProperty="id">
        UPDATE product SET if_sold = 2 WHERE pid = #{pid}
    </update>

</mapper>